<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ordenação e estatística</h1>
        <form method="post">
            <label for="numeros">Digite os números separados por espaço:</label><br>
            <input type="text" id="numeros" name="numeros" required><br>
            <input type="submit" value="Calcular">
        </form>
        {% if numeros_ordenados %}
            <div class="results">
                <h2>Resultados:</h2>
                <!-- Tabela de resultados aqui -->
            </div>
        {% endif %}
    </div>
</body>
</html>
